<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    
    <h1>Bienvenido a la pagina de boletines!</h1>
    <h2>Acá podras generar boletines de forma automatica desde la comodidad de un boton, y de esta misma pagina</h2>
    <h3>Si quieres consultar los boletines existentes para la busqueda de informacion, haz click aqui:</h3>
    <a href="{% url 'Consultaboletines' %}">
        <button type="button">Boletines Existentes</button>
    </a>
    <h3>Genera un boletin pulsando este boton:</h3>
    <a href="{% url 'descargar_boletin' %}">
        <button type="button">Generar Boletín</button>
    </a>
    <h3>Generar boletines parametrizados (Colaboradores FIA)</h3>
    <a href="{% url 'Boletin_parametros' %}">
        <button type="button">Parametriza acá</button>
    </a>
    <h1>Bienvenido a la pagina de boletines!</h1>
    <h2>Acá podras generar boletines de forma automatica desde la comodidad de un boton, y de esta misma pagina</h2>
    <h3>Genera un boletin pulsando este boton:</h3>
    <a href="{% url 'descargar_boletin' %}">
        <button type="button">Generar Boletín</button>
    </a>
</body>
</html>